.extendBtn {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    word-spacing: 8px;
    text-align: center;
    padding: 10px;
    color: var(--transparent-black);
    background-color: var(--transparent-black-2);
}

.closeBtn {
    padding: 5px 10px 5px 10px;
    font-weight: 900;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: min-content;
}

.heartBtn {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    background-color: none;
}

.heartThumbnail {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
